@import "tailwindcss";

@theme{
    --color-dark-blue: #101922;
    --color-light-blue: #f6f7f8;

    --font-sora: 'Sora', sans-serif;
}

@font-face {
  font-family: 'Sora';
  src: url('/src/assets/font/Sora.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}