---

---


<section class="w-full flex flex-col items-center">
    <div class="w-full max-w-9/10 lg:max-w-7xl flex flex-col items-center">
        <h2 class="text-4xl font-bold">Sobre Mí</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 w-full mt-10">
            <div class="flex flex-col items-center order-1">
                <h3 class="text-2xl font-semibold mb-5">¿Quién soy?</h3>
            </div>
            <div class="flex flex-col items-center order-3 lg:order-2">
                <h3 class="text-2xl font-semibold mb-5">Mis habilidades</h3>
            </div>
            <p class="text-xl order-2 lg:order-3">
                Me llamo Antonio Molina, desde pequeño siempre me ha gustado programar y ver que lo que escribía 
                se transformaba en aplicaciones que podía usar. Actualmente estoy centrado en el mundo del desarrollo web,
                creando tanto aplicaciones como páginas web. Con 22 años he dedicido emprender y crear mi propia empresa de 
                desarrollo web llamada Trappy. Lo que más me gusta es poder aprender constantemente y solucionar
                problemas nuevos cada día.
            </p>
        </div>
    </div>
</section>