---
import Terminal from "@assets/terminal.svg";
---


<header class="sticky">
    <div class="flex w-full bg-dark-blue justify-between items-center px-20 py-10">
        <div class="flex flex-nowrap">
            <img src={Terminal.src} alt="Imagen logo terminal" class="pr-5"/>
            <span class="font-bold">Antonio Molina</span>
        </div>
        <div>
            <nav class="flex gap-10">
                <a href="#projects" class="hover:text-white transition-colors duration-300">Proyectos</a>
                <a href="#about" class="hover:text-white transition-colors duration-300">Sobre mí</a>
                <a href="#contact" class="hover:text-white transition-colors duration-300">Contacto</a>
            </nav>
        </div>
    </div>
    <div class="h-px w-full bg-light-blue/20"></div>
</header>