---
import Terminal from "@assets/terminal.svg";

import MenuIcon from '@assets/menu.svg';
---


<header class="fixed w-full top-0 z-100 shadow-2xl shadow-cyan-500/5">
    <div class="flex w-full bg-dark-blue justify-between items-center px-5 py-5 md:px-20 md:py-10">
        <div class="flex flex-nowrap">
            <img src={Terminal.src} alt="Imagen logo terminal" class="mr-5"/>
            <span class="font-bold">Antonio <span class="hidden md:inline">Molina</span></span>
        </div>
        <div>
            <img src={MenuIcon.src} alt="Icono menu desplegable" class="md:hidden invert-100 h-8 cursor-pointer"/>

            <nav class="gap-10 hidden md:flex">
                <a href="#projects" class="hover:text-white transition-colors duration-300">Proyectos</a>
                <a href="#about" class="hover:text-white transition-colors duration-300">Sobre mí</a>
                <a href="#contact" class="hover:text-white transition-colors duration-300">Contacto</a>
            </nav>
        </div>
    </div>
</header>